.title {
  box-sizing: border-box;
  position: absolute;
  width: 70vw;
  height: 100px;
  left: 200px;
  background: #FAFAFB;
  padding:20px;
  color: #004946;
  font-size: 17px;
}

.publishers {
  position: absolute;
  width: 70vw;
  height: auto;
  left: 200px;
  top: 89px;
  background: #F9F9F9;
  border-radius: 0px;
}

.logo {
  position: absolute;
  width: 155px;
  height: 30px;
  top: 30px;
  background: url(/assets/logo.svg);
}
