.publishers-container {
  padding: 70px 50px;
  font-size: 17px;
  font-style: normal;
  color: #004946;}

/*Browsi theme colors*/
/* #ff762a - orange dark */
/* #004946 - green dark */
/* #ffbe9f - orange light */


