<div>
  <h1>{{publisher.publisher}}  ({{publisher.domains.length}})</h1>
  <hr>
  <button (click)="toggleEdit()">Add Domain</button>
  <div class="form" *ngIf="isEdit">
    <div> Domain:</div>
    <input type="text" [(ngModel)]="newDomain.domain">
    <div> Mobile Ads:</div>
    <input type="text" [(ngModel)]="newDomain.mobileAds">
    <div> Desktop Ads:</div>
    <input type="text" [(ngModel)]="newDomain.desktopAds">
    <button (click)="addDomain()">Save</button>
  </div>
  <div class="publisher-card-container">
    <app-domain-card *ngFor="let domain of publisher.domains" [domain]="domain"></app-domain-card>
  </div>
</div>
