/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Noto Sans Javanese";

html, body { height:100%;}

body {
  font-family: "Noto Sans Javanese", sans-serif}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 6px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

button:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.form {
  margin:20px 0px;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 7px;
  padding: 8px 20px;
  width: auto;
}
